:root {
  --chalk__white: #F9FAFB;
  --golden__yellow: #FFE324;
  --vintage__black: #0D121C;
  --sky__blue: #C8D9F9;
  --royal__blue: #124191;
  --varsity__navy: #09285D;
  --pure__white: #FFFFFF;
  --pure__black: #000000;
  --warning: #FFB10F;
  --failure: #FF0E39;
  --success: #34AB37;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  text-align: center;
}

.button-primary {
  background-color: var(--golden__yellow);
  border: none;
  border-radius: 40px;
  color: var(--vintage__black);
  padding: 20px;
}

.buttons-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.flex-center-col {
  align-items: center;
  display: flex;
  flex-direction: column;
}