.event {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.event__card-container {
    background-color: var(--sky__blue);
    border: 1px solid var(--footer__shadow);
    border-radius: 10px;
    box-shadow: 0 4px 4px 0px var(--card__shadow);
    padding: 20px;
    margin: 20px auto;
}

.event h1 {
    grid-column: span 3;
    grid-row: 1;
    text-transform: capitalize;
}

.event h3 {
    grid-column: span 3;
    grid-row: 2;
    font-size: 1rem;
}

.event p {
    grid-column: auto;
    grid-row: 4;
    grid-column: auto;
    grid-row: 3;
    font-size: 1rem;
    text-align: center;
}

.event button {
    grid-column: auto;
    grid-row: 4;
    width: fit-content;
    height: fit-content;
}

.event small {
    grid-column: 3;
    grid-row: 4;
    font-weight: 300;
    text-transform: uppercase;
    text-align: end;
}