.form__wrapper, .form__field h2 {
    text-align: center;
}

.form__field, .form__field-dark {
    display: flex;
    flex-direction: column;
}

.form__field input {
    background-color: var(--sky__blue);
    border: 2px solid var(--royal__blue);
    border-radius: 10px;
    padding: 20px;
}

.form__field-dark input {
    background-color: var(--royal__blue);
    border: 2px solid var(--sky__blue);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1rem;
}

.form__field textarea {
    background-color: var(--sky__blue);
    border: 2px solid var(--royal__blue);
    border-radius: 10px;
    padding: 20px;
}

.form__field-dark textarea {
    background-color: var(--royal__blue);
    border: 2px solid var(--sky__blue);
    border-radius: 10px;
    padding: 20px;
}

.form__field, .form__field-dark label {
    font-size: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: left;
}

.form__container-grid {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
}

.form__container-flex {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form__container-flex button {
    align-self: center;
    margin-top: 2rem;
}

/* for computer screens */
@media only screen and (min-width: 1000px) {
    .form__wrapper {
        margin: auto;
    }
    .form__container-flex, .form__container-grid {
        width: 50vw;
    }
}
/* for tablet screens */
@media only screen and (min-width: 800px) and (max-width: 999px) {
    .form__wrapper {
        margin: auto;
    }
    .form__container-flex, .form__container-grid {
        width: 80vw;
    }
}

/* for mobile screens */
@media only screen and (max-width: 800px) {
    .form__wrapper {
        margin: auto;
    }
    .form__container-flex, .form__container-grid {
        width: 75vw;
    }
}