.primary__header, .secondary__header {
    align-items: center;
    display: flex;
    height: 5rem;
    position: sticky;
    width: 100vw;
}

.primary__header {
    border-bottom: 2px dashed var(--royal__blue);
    color: var(--varsity__navy);
}

.primary__header button {
    color: var(--varsity__navy);
}

.secondary__header {
    border-bottom: 2px dashed var(--sky__blue);
    color: var(--chalk__white);
}

.secondary__header button {
    color: var(--chalk__white);
}

.primary__header, .secondary__header span {
    align-items: center;
    display: flex;
    justify-items: center;
    margin: auto;
    position: static;
}

.primary__header, .secondary__header h2 {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
}

.primary__header, .secondary__header img {
    height: 3rem;
    margin: 0 auto;
    width: auto;
    padding: 1rem 0;
}

svg.svg-inline--fa {
    font-size: 2rem;
}

.icon-left, .icon-right {
    background: none;
    border: none;
    top: 1.5rem;
    position: absolute;
}

.icon-left {
    left: 2rem;
}

.icon-right {
    right: 1rem;
}