/* for computer screens */
@media only screen and (min-width: 1000px) {
    .mission__para {
        margin: auto;
        width: 35vw;
    }
}

/* for tablet screens */
@media only screen and (min-width: 800px) and (max-width: 999px) {
    .mission__para {
        margin: auto;
        width: 50vw;
    }
}

/* for mobile screens */
@media only screen and (max-width: 800px) {
    .mission__para {
        margin: auto;
        width: 80vw;
    }
}